:root {
  --clr-primary-400: #f8f9fa;
  --clr-secondary-600: #343a40;
  --clr-secondary-700: hsl(217, 28%, 15%);
  --clr-secondary-800: #212529;
  --clr-secondary-900: hsl(216, 53%, 9%);

  --clr-accent-400: hsl(176, 68%, 64%);
  --clr-accent-600: hsl(198, 60%, 50%);

  --bg-primary: var(--clr-secondary-800);
  --bg-secondary: var(--clr-secondary-600);
  --text: var(--clr-primary-400);

  --bg-body: var(--bg-primary);
  --bg-container: var(--bg-secondary);
  --text-color: var(--text);

  --ff-primary: "Open Sans", sans-serif;
  --box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0);

  --max-width: 100rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html:focus-within {
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-color: var(--bg-body);
  color: var(--text-color);
  font-family: var(--ff-primary);
  font-weight: 400;
}

body.light {
  --bg-body: white;
  --text-color: #495057;
  --bg-container: white;
  --box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0.25);
}

.container {
  max-width: var(--max-width);
  height: 90vh;
  margin: 5rem auto 0;
  background-color: var(--bg-container);
  overflow: hidden scroll;
  border-radius: 11px;
  position: relative;
}

.container::-webkit-scrollbar {
  display: none;
}

/* color mode */
.color-mode {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffd43b;
  transition: transform 0.3s;
}
.color-mode:hover {
  transform: scale(1.4);
}

.sun {
  font-size: 4rem;
}

.moon {
  font-size: 4rem;
  display: none;
}

/* Title , input , button */

.todo__title {
  font-size: 4.4rem;
  margin: 3rem 0;

  text-align: center;
}
#form {
  padding-inline: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5.3rem;
}
.todo__input {
  display: block;
  width: 100%;

  color: #212529;
  box-shadow: var(--box-shadow);
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 11px;
  font-family: inherit;
}
.todo__input::placeholder {
  color: #adb5bd;
}

.btn {
  --bg-color: var(--bg-container);
  color: var(--color);
  font-size: 2.4rem;
  padding: 1.2rem;
  background-color: var(--bg-color);
  border: none;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: all 0.2s linear;
}
.btn:hover,
.btn:focus-visible {
  color: var(--bg-color);
  background-color: var(--color);
}
.btn--add {
  --color: #51cf66;
}
.btn--done {
  --color: #ffd43b;
  margin-right: 0.5rem;
}

.btn--delete {
  --color: #fa5252;
}

/* List , Items, */

.todo__body {
  padding-top: 3rem;
}

.todo__list {
  list-style: none;
}

.todo__item {
  display: flex;
  align-items: center;
  padding: 0.8rem 3.2rem;
  transition: all 0.2s;
}
.todo__text {
  margin-right: auto;
}
.todo__item.done .todo__text {
  text-decoration: line-through;
}

/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/ ;
