:root {
  --clr-primary-400: #f8f9fa;
  --clr-secondary-600: #343a40;
  --clr-secondary-700: hsl(217, 28%, 15%);
  --clr-secondary-800: #212529;
  --clr-secondary-900: hsl(216, 53%, 9%);

  --bg-primary: var(--clr-secondary-800);
  --bg-secondary: var(--clr-secondary-600);
  --text: var(--clr-primary-400);

  --gray-1: #adb5bd;

  --bg-body: var(--bg-primary);
  --bg-container: var(--bg-secondary);
  --text-color: var(--text);

  --ff-primary: 'Open Sans', sans-serif;
  --box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0);

  --clr-correct: #51cf66;
  /* --clr-medium: #ffd43b; */
  --clr-medium: #fcc419;
  --clr-error: #fa5252;

  --max-width: 100rem;

  --color-mode-speed: 0.5s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  background-color: var(--bg-body);
  color: var(--text-color);
  font-family: var(--ff-primary);
  font-weight: 400;
  transition: all var(--color-mode-speed);
  padding: 3rem 0 1rem;
}

body.light {
  --bg-body: var(--clr-primary-400);
  --text-color: #495057;
  --bg-container: var(--clr-primary-400);
  --box-shadow: 0 0.4rem 0.9rem rgba(0, 0, 0, 0.25);
}

.container {
  max-width: var(--max-width);

  margin-inline: auto;
  background-color: var(--bg-container);
  border-radius: 11px;
  position: relative;
  transition: all var(--color-mode-speed);
  padding-top: 3rem;

  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow);
  overflow: hidden;
}

/* color mode */
body.light .sun {
  display: none;
}

body.light .moon {
  display: block;
}

.color-mode {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-medium);
  transition: transform 0.3s;
}
.color-mode:hover {
  transform: scale(1.4);
}

.sun {
  font-size: 4rem;
}

.moon {
  transform: rotate(250deg);
  font-size: 4rem;
  display: none;
}

/* Title , input , button */

.todo__header {
  margin-top: 5rem;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--bg-container);
  overflow: hidden;
  padding-bottom: 3rem;
  border-bottom: 1px solid var(--gray-1);
  transition: all var(--color-mode-speed);
}

.todo__title {
  font-size: 4.4rem;
  margin-bottom: 3rem;
  text-align: center;
}
#form {
  align-items: center;
  padding: 0.8rem 3.2rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.todo__input {
  display: block;
  width: 100%;

  color: #212529;
  box-shadow: var(--box-shadow);
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;
  margin-right: auto;
  border: none;
  border-radius: 11px;
  font-family: inherit;
  transition: all var(--color-mode-speed);
}
.todo__input::placeholder {
  color: var(--gray-1);
}

.btn {
  --bg-color: var(--bg-container);
  color: var(--color);
  font-size: 2.4rem;
  padding: 1.2rem;
  background-color: var(--bg-color);
  border: none;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: all var(--color-mode-speed);
}
.btn:hover,
.btn:focus-visible {
  color: var(--bg-color);
  background-color: var(--color);
}
.btn--add {
  --color: var(--clr-correct);
}
.btn--done {
  --color: var(--clr-correct);
  margin-right: 0.5rem;
}

.btn--delete {
  --color: var(--clr-error);
}
.btn--remove {
  --color: var(--clr-error);
}

/* List , Items, */

.todo__body {
  min-height: 65vh;

  overflow: scroll;
}

.todo__body::-webkit-scrollbar {
  display: none;
}

.todo__list {
  list-style: none;
}

.todo__item {
  display: flex;
  align-items: center;
  padding: 0.8rem 3.2rem;
  transition: all var(--color-mode-speed);
}
.todo__item:not(:last-child) {
  border-bottom: 1px solid var(--gray-1);
}

.todo__text {
  margin-right: auto;
}
.todo__item.doneTask .todo__text {
  text-decoration: line-through;
  color: var(--clr-correct);
}

/* Error */

.notifications {
  position: absolute;
  width: 20rem;
  min-height: 10rem;
  bottom: 5rem;
  right: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.error,
.done,
.added,
.remove,
.removeAll,
.unmarked {
  --text-color: white;

  width: 20rem;
  height: 10rem;

  color: var(--text-color);
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  transition: all var(--color-mode-speed);
  animation: fadeOut 3s forwards;
}

.error,
.remove,
.unmarked,
.removeAll {
  color: var(--text-color);
  text-align: center;
  background-color: var(--clr-error);
}

.unmarked {
  background-color: var(--clr-medium);
}

.added,
.done {
  background-color: var(--clr-correct);
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
